<section [ngClass]="{ mobile: utilService.isMobile }">
  <h2 class="page-title" [ngClass]="{ mobile: utilService.isMobile }">
    {{ "home.text.dynamicPut" | translate }}
  </h2>

  <div class="description">
    {{ "solution.text.dynamic-description" | translate }}
  </div>
  <div class="text-area">
    <div class="text">{{ "solution.text.dynamic-detail" | translate }}</div>
    <div class="text">{{ "solution.text.dynamic-detail2" | translate }}</div>
  </div>
  <div class="text-area">
    <div class="text">{{ "solution.text.dynamic-detail3" | translate }}</div>
    <div class="text">{{ "solution.text.dynamic-detail4" | translate }}</div>
  </div>
  <div class="img-area">
    <img
      src="/assets/image/img-dynamic-1.png"
      alt="Dynamic1"
      alt="consulting"
      data-aos="fade-up"
      data-aos-duration="1500"
    />
    <img
      src="/assets/image/img-dynamic-2.png"
      alt="Dynamic2"
      alt="consulting"
      data-aos="fade-up"
      data-aos-duration="1500"
    />
    <button
      *ngIf="!utilService.isMobile"
      class="button-top"
      (click)="scrollTop()"
    >
      <i class="btn-top"></i>
      <div>Top</div>
    </button>
  </div>
</section>
